
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
*{
   box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F4F9;
 }
h3, .content{
    color: #ffffff;
}
.desc-activity{
   color: #ffffff;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
 }
 nav a:hover {
    font-weight: bold;
    padding-bottom: 20px;
    color: #201E16;
    border-bottom: 2px #D84844 solid;
 }
 nav a:active {
   font-weight: bold;
   padding-bottom: 20px;
   color: #201E16;
   border-bottom: 2px #D84844 solid;
 }
 .profile header {
    text-align: center;
 }

 .blue{
    background-color: #4634ED;
 }
 .red{
   background-color: #D84844;
}
.yellow{
   background-color: #FDA82C;
}
.purple-light{
   background-color: #B6AAB7;
}
.black{
   background-color: #201E16;
}
.green{
   background-color: #58857A;
}
.white{
   background-color: #F1F4F9;
}
.yellow-light{
   background-color: #D9B160;
}
 footer {
    padding: 20px;
    color: white;
    background-color: #201E16;
    text-align: center;
    font-weight: bold;
 }
 .featured-image {
    width: 30%;
    float: left;
    margin: 10px;
    /* max-height: 50px; */
    max-width: 100px;
    object-fit: cover;
    object-position: center;
 }
 .profile img {
    width: 200px;
 }
 .sub {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* border-radius: 5px; */
    padding: 0px;
    margin-top: 20px;
 }
 .sub h4{
    text-transform: uppercase;
    color: #B6AAB7;
 }
 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 15px;
   padding: 20px;
   margin: 10px;
   width: 47%;
}
.card-log{
   border: solid 1px #B6AAB7;
   border-radius: 10px;
}
.card-future {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 15px;
   padding: 20px;
   margin: 10px auto;
   width: 90%;
   background-color: #ffffff;
}
.wrap    { 
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
 }  
 .jumbotron {
    font-size: 20px;
    padding: 40px;
    background-color: #F1F4F9;
    text-align: left;
    color: #201E16;
 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }
 nav {
    background-color: #ffffff;
    padding: 5px;
    position: sticky;
    top: 0;
    border-radius: 15px;
    margin: 0 20px;
 }
 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #B6AAB7;
 }
 main {
    padding: 20px;
    overflow: auto;
 }
 #content {
   float: left;
   width: 75%;
}
aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
   .card {
      width: 100%;
   }
   .f-left, .f-center, .f-right{
      width: 100%;
   }
}
header {
   display: inline;
}

.clear {
   clear: left;
}

.container {
   padding: 0;
  margin: 0;;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content */
 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
 }
 
 /* Add Animation */
 @-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
 }
 
 @keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
 }
 
 /* The Close Button */
 .close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
 
 .modal-header {
   padding: 2px 16px;
   background-color: #5cb85c;
   color: white;
 }
 
 .modal-body {padding: 2px 16px;}
 
 .modal-footer {
   padding: 2px 16px;
   background-color: #5cb85c;
   color: white;
 }

 /* future */
 .container-future {
   padding: 0;
  margin: 0;;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap    { 
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
 }

.f-left {
   text-align: center;
   width: 33.3%;
   height: 100%;
   float: left;
   border-right: 1px solid #B6AAB7;
}

.f-center {
   text-align: center;
   width: 33.3%;
   height: 100%;
   float: left;
   border-right: 1px solid #B6AAB7;
}

.f-right {
   text-align: center;
   width: 33.3%;
   height: 100%;
   float: left;
}
.title-future, .text-black, .desc-future{
   color: #201E16;
}

ul.list-log {
   list-style: none;
   padding: 0px;
}

ul.list-log li:before
{
   content: '\2713';
   margin: 0 1em;    /* any design */
}

button {
   padding: 10px;
   cursor: pointer;
   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   box-shadow: 0 5px 10px 2px rgba(88,103,221,.19);
   border-color: #D84844;
}